<!--APP-SIDEBAR-->
<div class="sticky">
  <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
  <div class="app-sidebar">
    <div class="side-header">
      <a class="header-brand1" href="<%=process.env.SITEURL%>/panel/">
        <img src="/assets/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
        <img src="/assets/images/brand/logo-1.png" class="header-brand-img toggle-logo" alt="logo">
        <img src="/assets/images/brand/logo-2.png" class="header-brand-img light-logo" alt="logo">
        <img src="/assets/images/brand/logo-3.png" class="header-brand-img light-logo1" alt="logo">
      </a>
      <!-- LOGO -->
    </div>
    <div class="main-sidemenu">
      <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
          <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
        </svg></div>
      <ul class="side-menu">
        <li class="slide">
          <a class="side-menu__item has-link" data-bs-toggle="slide" href="<%=process.env.SITEURL%>/panel/"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">داشبورد</span></a>
        </li>
        <%if(login.isAdmin){%>
        <li class="slide">
          <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fa fa-user-md"></i><span class="side-menu__label">کاربران</span>
            <span class="badge bg-green side-badge" style="left: 60px"><%=(typeof userCount != 'undefined')?userCount:''%></span>
            <i class="angle fe fe-chevron-right"></i></a>
          <ul class="slide-menu">
            <li><a href="<%=process.env.SITEURL%>/panel/users " class="slide-item">لیست کاربران</a></li>
        </li>
        <li><a href="<%=process.env.SITEURL%>/panel/user/create " class="slide-item"> افزودن کاربر </a></li>
        </li>
      </ul>
      </li>
      <%}%>
      <%if(login.isAdmin || (!login.isPatient)){%>
      <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fa fa-heartbeat"></i><span class="side-menu__label">بیماران</span><i class="angle fe fe-chevron-right"></i></a>
        <ul class="slide-menu">
          <li><a href="<%=process.env.SITEURL%>/panel/patients" class="slide-item">لیست بیماران</a></li>
      </li>
      <%if(login.isAdmin || (!login.isPatient && login.accessibility.ptnRegister)){%>
           <li><a href="<%=process.env.SITEURL%>/panel/patient/create" class="slide-item"> ثبت نام بیمار</a></li>
      <%}%>
    </li>
      </ul>
      </li>
      <%}%>
      <%if(login.isAdmin){%>
      <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="<%=process.env.SITEURL%>/panel/healthcenters "><i class="side-menu__icon fa fa-hospital-o"></i><span class="side-menu__label">مراکز سلامت</span>
          <span class="badge bg-secondary side-badge" id="_hcCount"></span>
        </a>
      </li>
      <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="<%=process.env.SITEURL%>/panel/vaccines ">
          <i class="side-menu__icon fa fa-medkit"></i><span class="side-menu__label">واکسن ها</span>
        </a>
      </li>
      <%}%>
      <%if(login.isAdmin || (!login.isPatient && login.accessibility.getReport)){%>
      <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fa fa-file-text-o"></i><span class="side-menu__label">گزارش
            بیماران</span><i class="angle fe fe-chevron-right"></i></a>
        <ul class="slide-menu">
          <li><a href="<%=process.env.SITEURL%>/panel/uInfoReport" class="slide-item">گزارش آماری</a></li>
          <li><a href="<%=process.env.SITEURL%>/panel/reports" class="slide-item">گزارش کامل بیماران</a></li>
          <li><a href="<%=process.env.SITEURL%>/panel/report/patient" class="slide-item">گزارش پرونده بیمار</a>
          </li>
        </ul>
      </li>
      <%}%>
      <%if(login.isPatient){%>
      <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="<%=process.env.SITEURL%>/panel/patient/e_crfs"><i class="side-menu__icon fa fa-hospital-o"></i><span class="side-menu__label">عوارض واکسن</span>
          <span class="badge bg-secondary side-badge" id="_hcCount"></span>
        </a>
      </li>
      <%}%>
      <%if(!login.isAdmin){%>
      <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="<%=process.env.SITEURL%>/panel/questions "><i class="side-menu__icon fa fa-hospital-o"></i><span class="side-menu__label">پرسشنامه</span>
          <span class="badge bg-secondary side-badge" id="_hcCount"></span>
        </a>
      </li>
      <%}%>
      <%if(login.isAdmin){%>
      <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">پرسش نامه ها</span><i class="angle fe fe-chevron-right"></i></a>
        <ul class="slide-menu">
          <li><a href="<%=process.env.SITEURL%>/panel/answers" class="slide-item">لیست پاسخ نامه ها</a></li>
          <li><a href="<%=process.env.SITEURL%>/panel/questions/upload" class="slide-item">آپلود پرسش نامه</a></li>
        </ul>
      </li>
      <%}%>
      </ul>
      <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
        </svg></div>
    </div>
  </div>
  <!--/APP-SIDEBAR-->
</div>