<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<%- include("../layout/head",{title:'پنل سامانه سلامت'}) %>

<body class="app sidebar-mini rtl light-mode">
  <%- include('../layout/switcher') %>
  <!-- GLOBAL-LOADER -->
  <div id="global-loader">
    <img src="/assets/images/loader.svg" class="loader-img" alt="Loader" />
  </div>
  <!-- /GLOBAL-LOADER -->

  <!-- PAGE -->
  <div class="page">
    <div class="page-main">
      <!-- app-Header -->
      <%- include('../layout/header',{login}) %>
      <!-- /app-Header -->
      <%- include('../layout/sidebar') %>

      <!--==========================Delete Modal=================================-->
      <!-- MODAL Effects -->
      <div class="modal fade" id="modaldemo8">
        <div class="modal-dialog modal-dialog-centered text-center" role="document">
          <div class="modal-content modal-content-demo">
            <div class="modal-header">
              <h6 class="modal-title">حذف عارضه</h6>
              <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
                <span aria-hidden="true ">&times;</span>
              </button>
            </div>
            <div class="modal-body">آیا با حذف موافق هستید؟</div>
            <div class="modal-footer">
              <button class="btn btn-light deleteUser">تایید</button>
              <button class="btn btn-danger" data-bs-dismiss="modal">
                لغو
              </button>
            </div>
          </div>
        </div>
      </div>
      <style>
        .modal-header {
          background-color: rgb(169 0 0 / 94%);
          border-bottom: 1px solid rgb(126 0 0) !important;
          color: white;
        }

        .modal-body {
          background-color: rgb(159 0 0 / 94%);
          color: white;
        }

        .modal-footer {
          background-color: rgb(169 0 0 / 94%);
          border-top: 1px solid rgb(126 0 0) !important;
          color: white;
        }
      </style>
      <!--==========================Delete Modal=================================-->

      <!----=====================================APP-CONTENT OPEN =========================================-->
      <div class="main-content app-content mt-0">
        <div class="side-app">
          <!-- CONTAINER -->
          <div class="main-container container-fluid">
            <br />

            <!-- ROW OPEN -->
            <div class="row row-cards">
              <div class="col-lg-12 col-xl-12">
                <div class="card">
                  <div class="card-header border-bottom-0">
                    <a href="<%=process.env.SITEURL%><%=login.isPatient?'/panel/patient/p/e_crf/create/'+patient._id:'/panel/patient/e_crf/create/'+patient._id%>" class="btn btn-primary">افزودن عارضه جدید</a>
                    <span style="padding-right: 5px">بیمار : <%=patient.user.fname%> <%=patient.user.lname%></span>
                  </div>
                  <div class="e-table px-5 pb-5">
                    <div class="table-responsive table-lg">
                      <table class="table border-top table-bordered mb-0">
                        <thead>
                          <tr>
                            <th>نام واکسن</th>
                            <th>تاریخ تزریق واکسن</th>
                            <th>تاریخ وقوع عارضه</th>
                            <th class="text-center">عملکردها</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(e_crfs){ e_crfs.forEach((e_crf)=>{ %>

                          <tr>
                            <td class="text-nowrap align-middle">
                              <%=e_crf.vaccineName%>
                            </td>
                            <td class="text-nowrap align-middle">
                              <%=getJalali(e_crf.injectVaccineDate)%>
                            </td>
                            <td class="text-nowrap align-middle">
                              <span>
                                <%=getJalali(e_crf.sideEffectDate)%>
                              </span>
                            </td>
                            <td class="text-center align-middle">
                              <div class="btn-group align-top">
                                <a href="<%=process.env.SITEURL%><%=login.isPatient?'/panel/patient/p/e_crf/edit/'+e_crf._id.toString():'/panel/patient/e_crf/edit/'+e_crf._id.toString()%>" class="btn btn-sm btn-primary badge" data-target="#user-form-modal" data-bs-toggle="" type="button">ویرایش</a>
                                <a class="btn btn-sm btn-danger badge modal-effect deleteModal" data-bs-effect="effect-super-scaled" data-id="<%=e_crf._id.toString()%>" data-bs-toggle="modal" href="#modaldemo8" type="button"><i class="fa fa-trash"></i></a>
                              </div>
                            </td>
                          </tr>
                          <% }); } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- COL-END -->
            </div>
            <!-- ROW CLOSED -->
          </div>
          <!-- CONTAINER CLOSED -->
        </div>
      </div>
      <!--=============================================== APP-CONTENT CLOSE ==================================-->
    </div>

    <!-- FOOTER -->
    <footer class="footer"></footer>
    <!-- FOOTER END -->
  </div>

  <!-- BACK-TO-TOP -->
  <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

  <%- include('../layout/script.ejs') %>
  <!-- SWEET-ALERT JS -->
  <script src="/assets/plugins/sweet-alert/sweetalert.min.js"></script>
  <script>
    
    $(document).ready(() => {
      $(".deleteModal").on("click", (e) => {
        $(".deleteUser").attr(
          "data-id",
          $(e.target).closest("a").attr("data-id")
        );
      });
      $(".deleteUser").on("click", (e) => {
        let _id = $(e.target).attr("data-id");
        window.location.href = `<%=process.env.SITEURL%>/panel/patient/e_crf/delete/${_id}`;
      });
      $("#userSearch").on("click", () => {
        let searchInput = $("#searchInput").val().trim();
        window.location.href = `<%=process.env.SITEURL%>/panel/user/search/${searchInput}`;
      });
    });
  </script>
</body>

</html>