<!doctype html>
<html lang="fa-IR" dir="rtl">

<%- include("layout/head",{title:'پنل سامانه سلامت'}) %>

    <body class="app sidebar-mini rtl light-mode">
        <%- include('layout/switcher') %>
            <!-- GLOBAL-LOADER -->
            <div id="global-loader">
                <img src="/assets/images/loader.svg" class="loader-img" alt="Loader">
            </div>
            <!-- /GLOBAL-LOADER -->

            <!-- PAGE -->
            <div class="page">
                <div class="page-main">

                    <!-- app-Header -->
                    <%- include('layout/header',{login}) %>
                        <!-- /app-Header -->
                        <%- include('layout/sidebar') %>




                            <!----=====================================APP-CONTENT OPEN =========================================-->
                            <div class="main-content app-content mt-0">
                                <div class="side-app">
                                    <!-- CONTAINER -->
                                    <div class="main-container container-fluid">

                                        <br />

                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3 class="card-title">داشبورد</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <%=login.fname + ' ' +login.lname%>
                                                            عزیز خوش آمدید .
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Row -->
                                    </div>
                                </div>
                            </div>
                            <!--=============================================== APP-CONTENT CLOSE ==================================-->




                </div>

                <!-- FOOTER -->
                <footer class="footer">

                </footer>
                <!-- FOOTER END -->

            </div>

            <!-- BACK-TO-TOP -->
            <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

            <%- include('layout/script.ejs') %>
    </body>


</html>