<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <%- include("layout/head",{title:'پنل سامانه سلامت'}) %>

  <link
    rel="stylesheet"
    href="/assets/plugins/persian_dpicker/css/persianDatepicker-default.css"
  />
  <link rel="stylesheet" href="/css/tagify.css" />

  <body class="app sidebar-mini rtl light-mode">
    <%- include('layout/switcher') %>
    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
      <img src="/assets/images/loader.svg" class="loader-img" alt="Loader" />
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
      <div class="page-main">
        <!-- app-Header -->
        <%- include('layout/header',{login}) %>
        <!-- /app-Header -->
        <%- include('layout/sidebar') %>

        <!----=====================================APP-CONTENT OPEN =========================================-->
        <div class="main-content app-content mt-0">
          <div class="side-app">
            <!-- CONTAINER -->
            <div class="main-container container-fluid">
              <br />
              <!--Row open-->
              <h6 class="bg-light text-center p-3" style="border-radius: 5px">
                لطفا اطلاعات خود را تکمیل کنید
              </h6>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">تکمیل اطلاعات بیمار</h3>
                    </div>
                    <div class="card-body">
                      <div id="smartwizard-3">
                        <ul>
                          <li>
                            <a href="#step-10" id="userNav"
                              >اطلاعات اصلی بیمار</a
                            >
                          </li>
                          <li>
                            <a href="#step-11" id="completeNav"
                              >ثبت اطلاعات تکمیلی</a
                            >
                          </li>
                          <li><a href="#step-12" id="endNav">نهایی</a></li>
                        </ul>
                        <div>
                          <div id="step-10" class="">
                            <div class="card-body">
                              <form
                                class="needs-validation"
                                id="userCreation"
                                novalidate
                              >
                                <div class="form-row">
                                  <div class="col-xl-6 mb-3">
                                    <label for="fname">نام</label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="fname"
                                      value="<%=user.fname%>"
                                      readonly
                                      required
                                    />
                                    <!--<div class="valid-feedback"></div> -->
                                    <div class="invalid-feedback">
                                      پر کردن این فیلد الزامی است!
                                    </div>
                                  </div>
                                  <div class="col-xl-6 mb-3">
                                    <label for="lname">نام خانوادگی</label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="lname"
                                      value="<%=user.lname%>"
                                      readonly
                                      required
                                    />
                                    <div class="invalid-feedback">
                                      پر کردن این فیلد الزامی است!
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="col-xl-6 mb-3">
                                    <label for="email">ایمیل</label>
                                    <input
                                      type="email"
                                      class="form-control"
                                      id="email"
                                      placeholder="اختیاری"
                                    />
                                  </div>
                                  <div class="col-xl-6 mb-6">
                                    <label for="nationalCode">کد ملی</label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="nationalCode"
                                      minlength="10"
                                      maxlength="10"
                                      maxlength="10"
                                      value="<%=user.nationalCode%>"
                                      readonly
                                      required
                                    />
                                    <div class="invalid-feedback">
                                      لطفا یک مقدار معتبر وارد کنید!
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="col-xl-6 mb-3">
                                    <label for="password">رمز عبور</label>
                                    <input
                                      type="password"
                                      class="form-control"
                                      id="password"
                                      value="not visable"
                                      readonly
                                    />
                                    <div class="invalid-feedback">
                                      پر کردن این فیلد الزامی است!
                                    </div>
                                  </div>
                                </div>
                                <br />
                              </form>
                            </div>
                          </div>
                          <div id="step-11" class="">
                            <div class="card-body">
                              <form
                                class="needs-validation"
                                id="patientDetails"
                                novalidate
                              >
                                <div id="patientCard">
                                  <div class="form-row">
                                    <div class="col-xl-3 mb-3">
                                      <label for="birthDay">تاریخ تولد</label>

                                      <input
                                        class="form-control"
                                        id="birthDay"
                                        type="text"
                                        required
                                        readonly
                                      />
                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی است!
                                      </div>
                                    </div>
                                    <div class="col-xl-3 mb-3">
                                      <label for="gender"> جنسیت </label>
                                      <select
                                        class="form-control select2"
                                        id="gender"
                                        required
                                      >
                                        <option value="man">مرد</option>
                                        <option value="female">زن</option>
                                        <option value="bigender">
                                          دوجنسیتی
                                        </option>
                                        <option value="unknown" selected>
                                          نامشخص
                                        </option>
                                      </select>
                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی است!
                                      </div>
                                    </div>
                                    <div class="col-xl-6 mb-6">
                                      <label for="educationRate">
                                        تحصیلات
                                      </label>
                                      <select
                                        class="form-control select2"
                                        id="educationRate"
                                        required
                                      >
                                        <option selected disabled value="">
                                          انتخاب کنید
                                        </option>
                                        <option value="Doctora">دکترا</option>
                                        <option value="Arshad">
                                          کارشناسی ارشد
                                        </option>
                                        <option value="Karshenasi">
                                          کارشناسی
                                        </option>
                                        <option value="Kardani">کاردانی</option>
                                        <option value="Diplom">دیپلم</option>
                                        <option value="ZDiplom">سیکل</option>
                                        <option value="Ebtedaei">
                                          ابتدایی
                                        </option>
                                        <option value="Bisavad">بیسواد</option>
                                      </select>
                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی است!
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col-xl-6 mb-6">
                                      <label for="jobStatus"> شغل </label>

                                      <input
                                        class="form-control"
                                        id="jobStatus"
                                        type="text"
                                        required
                                      />
                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی است!
                                      </div>
                                    </div>
                                    <div class="col-xl-6 mb-6">
                                      <label for="ecoStatus">
                                        وضعیت اقتصادی
                                      </label>
                                      <select
                                        class="form-control select2"
                                        id="ecoStatus"
                                        type="text"
                                        required
                                      >
                                        <option selected disabled value="">
                                          انتخاب کنید
                                        </option>
                                        <option value="weak">ضعیف</option>
                                        <option value="average">متوسط</option>
                                        <option value="good">خوب</option>
                                        <option value="great">عالی</option>
                                      </select>

                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی است!
                                      </div>
                                    </div>
                                  </div>
                                  <br />
                                  <label> اطلاعات تماس </label>
                                  <hr />
                                  <div class="form-row">
                                    <div class="col-xl-3 mb-4">
                                      <label for="homePhone">
                                        شماره منزل
                                      </label>
                                      <input
                                        class="form-control"
                                        maxlength="11"
                                        id="homePhone"
                                        type="text"
                                        required
                                      />
                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی است!
                                      </div>
                                    </div>
                                    <div class="col-xl-3 mb-4">
                                      <label for="cellPhone">
                                        شماره همراه
                                      </label>

                                      <input
                                        class="form-control"
                                        id="cellPhone"
                                        placeholder="09124567321"
                                        type="text"
                                        maxlength="11"
                                        required
                                      />
                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی است!
                                      </div>
                                    </div>
                                    <div class="col-xl-3 mb-4">
                                      <label for="emergancyPhone">
                                        شماره تماس اورژانسی
                                      </label>
                                      <input
                                        class="form-control"
                                        maxlength="11"
                                        id="emergancyPhone"
                                        type="text"
                                        required
                                      />
                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی است!
                                      </div>
                                    </div>
                                    <div class="col-xl-3 mb-4">
                                      <label for="postCode"> کد پستی </label>
                                      <input
                                        class="form-control"
                                        id="postCode"
                                        type="text"
                                        maxlength="10"
                                      />
                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی است!
                                      </div>
                                    </div>
                                  </div>
                                  <br />
                                  <label> اطلاعات آدرس </label>
                                  <hr />
                                  <div class="form-row">
                                    <div class="col-md-3">
                                      <div class="mb-3">
                                        <label
                                          for="province"
                                          class="col-form-label"
                                          >استان:</label
                                        >
                                        <select
                                          class="form-control select2"
                                          id="province_id"
                                          data-placeholder="انتخاب استان"
                                        >
                                          <% if(provinces){
                                          provinces.forEach((province)=>{ %>
                                          <option value="<%=province._id%>">
                                            <%=province.name%>
                                          </option>
                                          <% })} %>
                                        </select>
                                        <div class="invalid-feedback">
                                          پر کردن این فیلد الزامی است!
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="mb-3">
                                        <label for="city" class="col-form-label"
                                          >شهر:</label
                                        >
                                        <select
                                          class="form-control select2"
                                          id="city_id"
                                          disabled
                                          data-placeholder="انتخاب شهر"
                                        ></select>
                                        <div class="invalid-feedback">
                                          پر کردن این فیلد الزامی است!
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="mb-3">
                                        <label
                                          for="province"
                                          class="col-form-label"
                                          >نام مرکز:</label
                                        >
                                        <select
                                          class="form-control select2"
                                          id="hcenter_id"
                                          disabled
                                          data-placeholder=""
                                        ></select>
                                        <div class="invalid-feedback">
                                          پر کردن این فیلد الزامی است!
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="mb-3">
                                        <label
                                          for="province"
                                          class="col-form-label"
                                          >نام روستا:</label>
                                        <select
                                          class="form-control select2"
                                          id="village_id"
                                          disabled
                                          data-placeholder=""
                                        ></select>
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                    <div class="mb-3">
                                      <label for="address" class="col-form-label">آدرس دقیق</label>
                                      <input type="text" id="address" class="form-control">
                                      <div class="invalid-feedback">
                                        پر کردن این فیلد الزامی
                                        است!
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                  <br />
                                </div>
                              </form>
                            </div>
                          </div>
                          <div id="step-12" class="">
                            <form>
                              <div class="mb-3">
                                <label class="col-form-label"
                                  >سابقه واکنش به واکسن دارید ؟
                                </label>
                                <label
                                  class="custom-control custom-radio"
                                  style="display: inline-block; cursor: pointer"
                                >
                                  <input
                                    type="radio"
                                    class="custom-control-input"
                                    name="allergy"
                                    value="yes"
                                  />
                                  <span class="custom-control-label">بله</span>
                                </label>
                                <label
                                  class="custom-control custom-radio"
                                  style="display: inline-block; cursor: pointer"
                                >
                                  <input
                                    type="radio"
                                    class="custom-control-input"
                                    name="allergy"
                                    value="no"
                                    checked
                                  />
                                  <span class="custom-control-label">خیر</span>
                                </label>
                              </div>
                              <div class="mb-3">
                                <label class="col-form-label">
                                  سابقه ابتلا به کرونا دارید؟</label>
                                <label
                                  class="custom-control custom-radio"
                                  style="display: inline-block; cursor: pointer"
                                >
                                  <input
                                    type="radio"
                                    class="custom-control-input"
                                    name="testResult"
                                    value="yes"
                                  />
                                  <span class="custom-control-label">بله</span>
                                </label>
                                <label
                                  class="custom-control custom-radio"
                                  style="display: inline-block; cursor: pointer"
                                >
                                  <input
                                    type="radio"
                                    class="custom-control-input"
                                    name="testResult"
                                    value="no"
                                    checked
                                  />
                                  <span class="custom-control-label">خیر</span>
                                </label>
                              </div>
                              <div class="mb-3">
                                <label
                                  for="chronicDiseases"
                                  class="col-form-label"
                                  >سابقه بیماری مزمن</label
                                >
                                <br />
                                <div class="checkbox-cstm">
                                  <label>بیماری کبدی</label>
                                  <input
                                    type="checkbox"
                                    name="diseasesChecks[]"
                                    value="cD_1"
                                  />
                                  <label>بیماری کلیوی</label>
                                  <input
                                    type="checkbox"
                                    name="diseasesChecks[]"
                                    value="cD_2"
                                  />
                                  <label>نقص سیستم ایمنی</label>
                                  <input
                                    type="checkbox"
                                    name="diseasesChecks[]"
                                    value="cD_3"
                                  />
                                  <label>فشار خون</label>
                                  <input
                                    type="checkbox"
                                    name="diseasesChecks[]"
                                    value="cD_5"
                                  />
                                  <label>بیماری تنفسی یا آسم</label>
                                  <input
                                    type="checkbox"
                                    name="diseasesChecks[]"
                                    value="cD_4"
                                  />
                                  <label>بیماری قلبی</label>
                                  <input
                                    type="checkbox"
                                    name="diseasesChecks[]"
                                    value="cD_6"
                                  />
                                  <label>دیابت</label>
                                  <input
                                    type="checkbox"
                                    name="diseasesChecks[]"
                                    value="cD_7"
                                  />
                                  <label>سایر</label>
                                  <input type="checkbox" class="others" />
                                </div>
                                <input
                                  name="tags"
                                  style="display: none"
                                  id="chronicDiseases"
                                  value=""
                                />
                                <h6 style="font-size: 11px">
                                  توجه : با وارد کردن و زدن کلید Enter میتوانید
                                  موارد بیشتر اضافه کنید
                                </h6>
                              </div>
                            </form>
                            <div style="text-align: center; padding: 30px">
                              <div class="col-xl-12 mb-12">
                                <label>
                                  برای ثبت نهایی اطلاعات روی گزینه تایید و ثبت
                                  اطلاعات کلیک کنید
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--row closed-->
            </div>
            <!-- CONTAINER CLOSED -->
          </div>
        </div>
        <!--=============================================== APP-CONTENT CLOSE ==================================-->
      </div>

      <!-- FOOTER -->
      <footer class="footer"></footer>
      <!-- FOOTER END -->
    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JQUERY JS -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- INPUT MASK JS-->
    <script src="/assets/plugins/input-mask/jquery.mask.min.js"></script>

    <!-- SIDE-MENU JS-->
    <script src="/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- TypeHead js -->
    <!--             <script src="/assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
    <script src="/assets/js/typehead.js"></script> -->

    <!-- SIDEBAR JS -->
    <script src="/assets/plugins/sidebar/sidebar.js"></script>
    <!-- FORM WIZARD JS-->
    <script src="/assets/plugins/formwizard/jquery.smartWizard.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="/assets/plugins/p-scroll/perfect-scrollbar.js"></script>
    <script src="/assets/plugins/p-scroll/pscroll.js"></script>
    <script src="/assets/plugins/p-scroll/pscroll-1.js"></script>

    <!-- SELECT2 JS -->
    <script src="/assets/plugins/select2/select2.full.min.js"></script>

    <!-- FORMVALIDATION JS -->
    <script src="/assets/js/form-validation.js"></script>

    <!-- Color Theme js -->
    <script src="/assets/js/themeColors.js"></script>
    <!-- SWEET-ALERT JS -->
    <script src="/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <!-- Sticky js -->
    <script src="/assets/js/sticky.js"></script>
    <script src="/assets/plugins/persian_dpicker/js/persianDatepicker.min.js"></script>
    <!-- CUSTOM JS -->
    <script src="/assets/js/custom.js"></script>

    <script src="/assets/js/custom1.js"></script>

    <!-- Switcher js -->
    <script src="/assets/switcher/js/switcher.js"></script>
    <script src="/js/tagify.min.js"></script>
    <script>
      let siteUrl = `<%=process.env.SITEURL%>`;
    </script>

    <script src="/js/axios/axios.min.js"></script>
    <script src="/js/axios/axiosConfig.js"></script>
    <script src="/js/jalali-moment.browser.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/toast/toastify.js"></script>
    <script src="/js/toast/toast.js"></script>
    <script src="/js/services/patientService.js"></script>
    <script>
      $(document).ready(function () {
        let inputElm = document.querySelector('input[name="tags"]');
        let tagify = new Tagify(inputElm);
        $("#province_id").on("change", function () {
          let id = $(this).val();
          if (id != "null") {
            getCities(id);
          } else {
            $("#city_id option").remove();
            $("#city_id").prop("disabled", true);
          }
        });
        $("#city_id").on("change", function () {
          let id = $(this).val();
          if (id != "null") {
            getHCenters(id);
          } else {
            $("#hcenter_id option").remove();
            $("#hcenter_id").prop("disabled", true);
          }
        });
        $("#hcenter_id").on("change", function () {
          let id = $(this).val();
          if (id != "null") {
            getVillages(id);
          } else {
            $("#village_id option").remove();
            $("#village_id").prop("disabled", true);
          }
        });
        // BirthDay DatePicker ===================
        const date = new Date();
        date.setFullYear(date.getFullYear() - 5);
        $("#birthDay").persianDatepicker({
          formatDate: "YYYY-0M-0D",
          startDate: "1300/01/01",
          endDate: moment(date).locale("fa").format("YYYY/MM/DD"),
        });

        //========================Form Wizard========================================
        var nextBtn = $("<button></button>")
          .text("ادامه")
          .addClass("btn btn-primary nextFormBtn")
          .on("click", function (e) {
            if ($(".nav-item.active a").attr("id") == "completeNav") {
              let formElm = document
                .getElementById("patientDetails")
                .checkValidity();
              if (formElm == false) {
                $("#patientDetails").trigger("submit");
                return;
              }
              $("#patientDetails").addClass("was-validated");
              $("#smartwizard-3").smartWizard("next");
            }
            if ($(".nav-item.active a").attr("id") == "userNav") {
              let formElm = document
                .getElementById("userCreation")
                .checkValidity();
              if (formElm == false) {
                $("#userCreation").trigger("submit");
                return;
              }
              $("#userCreation").addClass("was-validated");
              $("#smartwizard-3").smartWizard("next");
            }
          });
        $("#smartwizard-3").on(
          "showStep",
          (e, anchorObject, stepIndex, stepDirection, stepPosition) => {
            //console.log(e, anchorObject, stepIndex, stepDirection, stepPosition)
            if (stepIndex == 2) {
              $(".nextFormBtn").hide();
              $(".createUser").show();
            } else {
              $(".nextFormBtn").show();
              $(".createUser").hide();
            }
          }
        );
        var btnCancel = $("<button></button>")
          .text("تایید و ثبت اطلاعات")
          .addClass("btn btn-secondary createUser")
          .on("click", function () {
            $("#smartwizard-3").smartWizard("next");
          });
        $("#smartwizard-3").smartWizard({
          selected: 0,
          theme: "dots",
          transitionEffect: "fade",
          showStepURLhash: false,
          toolbarSettings: {
            toolbarExtraButtons: [nextBtn, btnCancel],
            showNextButton: false, // show/hide a Next button
            showPreviousButton: true,
          },
        });

        $("#userCreation").on("submit", (e) => {
          if (e.target.checkValidity() === false) {
            e.preventDefault();
            e.stopPropagation();
          }
          e.target.classList.add("was-validated");
          e.preventDefault();
        });
        $("#patientDetails").on("submit", (e) => {
          if (e.target.checkValidity() === false) {
            e.preventDefault();
            e.stopPropagation();
          }
          e.target.classList.add("was-validated");
          e.preventDefault();
        });

        $(".createUser").on("click", () => {
          let allergy = $('input[name="allergy"]:checked').val();
          let testResult = $('input[name="testResult"]:checked').val();
          let chronicDiseases = tagify.value.map((disease) => {
            return disease.value;
          });
          let diseasesChecks = [];
          $.map($("input[name='diseasesChecks[]']:checked"), (e) => {
            diseasesChecks.push($(e).val());
          });
          let patientData = {};
          patientData = {
            birthday: $("#birthDay").val(),
            gender: $("#gender").val(),
            educationRate: $("#educationRate").val(),
            jobStatus: $("#jobStatus").val(),
            ecoStatus: $("#ecoStatus").val(),
            address: $('#address').val(),
            phone: {
              home: $("#homePhone").val(),
              cellphone: $("#cellPhone").val(),
              emergancy: $("#emergancyPhone").val(),
            },
            postCode: $("#postCode").val(),
            healthHistory: {
              allergy,
              testResult,
              chronicDiseases,
              diseasesChecks,
            },
          };
          let data = {
            user: {
                _id:`<%=user._id%>`,
                province: $('#province_id').val(),
                city: $('#city_id').val(),
                hcenter: $('#hcenter_id').val(),
                village: $('#village_id').val(),
            },
            patientData,
          };
          data = JSON.stringify(data);
          $.ajax({
            url: `<%=process.env.SITEURL%>/panel/patient/regDetails`,
            type: "post",
            dataType: "json",
            contentType: "application/json",
            data: data,
            success: (res) => {
              if (res.statusCode === 200) {
                // Message
                swal({
                  title: "اطلاعات شما با موفقیت ثبت شد",
                  text: "در حال انتقال به صفحه اصلی ... ",
                  confirmButtonText: "تایید",
                  type: "success",
                });
                setTimeout(function () {
                  window.location.href = `<%=process.env.SITEURL%>/panel`;
                }, 500);
              }
            },
            error: function (jqXhr, textStatus, errorMessage) {},
          });
        });
        $("input[type=checkbox].others").on("change", (e) => {
          if (e.target.checked) {
            tagify.setReadonly(false);
          } else {
            tagify.removeAllTags();
            tagify.setReadonly(true);
          }
        });
      });
    </script>
  </body>
</html>
