<!doctype html>
<html lang="fa-IR" dir="rtl">

<%- include("layout/head",{title:'پنل سامانه سلامت'}) %>
<link rel="stylesheet" href="/assets/plugins/persian_dpicker/css/persianDatepicker-default.css">

<body class="app sidebar-mini rtl light-mode">
  <%- include('layout/switcher') %>
  <!-- GLOBAL-LOADER -->
  <div id="global-loader">
    <img src="/assets/images/loader.svg" class="loader-img" alt="Loader">
  </div>
  <!-- /GLOBAL-LOADER -->

  <!-- PAGE -->
  <div class="page">
    <div class="page-main">

      <!-- app-Header -->
      <%- include('layout/header',{login}) %>
      <!-- /app-Header -->
      <%- include('layout/sidebar') %>

      <!----=====================================APP-CONTENT OPEN =========================================-->
      <div class="main-content app-content mt-0">
        <div class="side-app">

          <!-- CONTAINER -->
          <div class="main-container container-fluid">

            <br />
            <!--Row open-->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header ">
                    <%if(isPatient){%>
                    <h3 class="card-title">ویرایش مشخصات بیمار</h3>
                    <%}else{%>
                    <h3 class="card-title">ویرایش مشخصات کاربر</h3>
                    <%}%>
                  </div>
                  <div class="card-body">
                    <div id="smartwizard-3">
                      <ul>
                        <li><a href="#step-10" id="userNav">اطلاعات کاربر</a>
                        </li>
                        <li><a href="#step-11" id="completeNav">ثبت اطلاعات
                            تکمیلی</a></li>
                        <li><a href="#step-12" id="endNav">نهایی</a></li>
                      </ul>
                      <div>
                        <div id="step-10" class="">
                          <div class="card-body">
                            <form class="needs-validation" id="userCreation" novalidate>
                              <div class="form-row">
                                <div class="col-xl-6 mb-3">
                                  <label for="fname">نام</label>
                                  <input type="text" class="form-control" id="fname" value="<%=user.fname%>" required>
                    <!--<div class="valid-feedback"></div> -->
                    <div class="invalid-feedback">
                      پر کردن این فیلد الزامی است!
                    </div>
                  </div>
                  <div class="col-xl-6 mb-3">
                    <label for="lname">نام
                      خانوادگی</label>
                    <input type="text" class="form-control" id="lname" value="<%=user.lname%>" required>
                    <div class="invalid-feedback">
                      پر کردن این فیلد الزامی است!
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-xl-6 mb-3">
                    <label for="email">ایمیل</label>
                    <input type="email" class="form-control" id="email" placeholder="اختیاری">
                  </div>
                  <div class="col-xl-6 mb-6">
                    <label for="nationalCode">کد
                      ملی</label>
                    <input type="text" class="form-control" value="<%=user.nationalCode%>" id="nationalCode" minlength="10" maxlength="10" required>
                    <div class="invalid-feedback">
                      لطفا یک مقدار معتبر وارد کنید!
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-xl-6 mb-3">
                    <label for="username">نام
                      کاربری</label>
                    <input type="text" class="form-control" id="username" value="<%=user.username%>" required>
                    <!--<div class="valid-feedback"></div> -->
                    <div class="invalid-feedback">
                      پر کردن این فیلد الزامی است!
                    </div>
                  </div>
                  <div class="col-xl-6 mb-3">
                    <label for="password">رمز
                      عبور</label>
                    <input type="password" class="form-control" id="password" value="" placeholder="فیلد خالی = پسورد قبلی">
                  </div>
                </div>

                <div class="form-row" id="userLevelForm">
                  <%if(!isPatient){%>
                  <div class="col-xl-6 mb-6">
                    <label for="userLevel">سطح
                      کاربر</label>
                    <select class="form-control select2" id="userLevel" required>
                      <option <%=(user.accessibility.userLevel=='Patient'
                                                                                            )?'selected':''%> value="Patient">
                        بیمار
                      </option>
                      <option <%=(user.accessibility.userLevel=='Administrator'
                                                                                            )?'selected':''%> value="Administrator">
                        مدیر سایت</option>
                      <option <%=(user.accessibility.userLevel=='Expert'
                                                                                            )?'selected':''%> value="Expert">کارشناس
                      </option>
                      <option <%=(user.accessibility.userLevel=='HealthCare'
                                                                                            )?'selected':''%> value="HealthCare">مراقب
                        سلامت</option>
                    </select>
                  </div>
                  <%}%>
                                                            </div>
                                                            <label id="accessabilityLabel">سطح دسترسی</label>
                                                            <div class="form-row" id="accessabilityForm"
                                                                style="border: 2px solid #71aac5;padding: 20px;border-radius: 10px;">
                                                                <div class="col-xl-2 mb-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            checked value="" id="ptnRegister">
                                                                        <label class="form-check-label"
                                                                            for="ptnRegister">
                                                                            ثبت نام بیمار
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-2 mb-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" checked
                                                                            type="checkbox" value="" id="ptnSearch">
                                                                        <label class="form-check-label" for="ptnSearch">
                                                                            جستجوی بیمار
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-2 mb-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" checked
                                                                            type="checkbox" value="" id="ptnSideEffect">
                                                                        <label class="form-check-label"
                                                                            for="ptnSideEffect">
                                                                            ثبت عوارض بیمار
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-2 mb-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" checked
                                                                            type="checkbox" value=""
                                                                            id="deleteSideEffect">
                                                                        <label class="form-check-label"
                                                                            for="deleteSideEffect">
                                                                            حذف عوارض بیمار
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-2 mb-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" checked
                                                                            type="checkbox" value="" id="deletePatient">
                                                                        <label class="form-check-label"
                                                                            for="deletePatient">
                                                                            حذف بیمار
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-3 mb-3">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" checked
                                                                            type="checkbox" value=""
                                                                            id="editSideEffect">
                                                                        <label class="form-check-label"
                                                                            for="editSideEffect">
                                                                            ویرایش عوارض بیمار
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-2 mb-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" checked
                                                                            type="checkbox" value="" id="getReport">
                                                                        <label class="form-check-label" for="getReport">
                                                                            گزارش گیری
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <br />
                                                            <div class="form-row" id="healthCenters">
                                                                <div class="col-xl-12 mb-12">
                                                                    <label for="healthCenter">
                                                                        مرکز سلامت فعالیت کننده
                                                                    </label>
                                                                    <select class="form-control select2"
                                                                        id="healthCenter">
                                                                        <option selected disabled value="">انتخاب کنید
                                                                        </option>
                                                                        <% if(healthCenters){
                                                                                            healthCenters.forEach((healthCenter)=>
                                                                                            {
                                                                                            %>
                  <option <%=(user.isEmployer.HealthCenter==healthCenter._id)?'selected':''%> value="
                                                                                                <%=healthCenter._id%>">
                    <%=healthCenter.province%>
                    -
                    <%=healthCenter.city%> -
                    <%=healthCenter.name%> -
                    <%=healthCenter.village%>
                  </option>
                  <% }) } %>
                  </select>
                  <div class="invalid-feedback">
                    پر کردن این فیلد الزامی است!
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div id="step-11" class="">
            <div class="card-body">
              <form class="needs-validation" id="patientDetails" novalidate>
                <div id="patientCard">
                  <div class="form-row">
                    <div class="col-xl-3 mb-3">
                      <label for="birthDay">تاریخ
                        تولد</label>
                      <input class="form-control" id="birthDay" value="" type="text" required readonly>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-3 mb-3">
                      <label for="gender">
                        جنسیت
                      </label>
                      <select class="form-control select2" id="gender" required>
                        <option <%=(patient.gender=='man'
                                                                                                )?'selected':''%> value="man">
                          مرد
                        </option>
                        <option <%=(patient.gender=='female'
                                                                                                )?'selected':''%> value="female">
                          زن
                        </option>
                        <option <%=(patient.gender=='bigender')?'selected':''%> value="bigender">
                          دوجنسیتی
                        </option>
                        <option <%=(patient.gender=='unknown')?'selected':''%> value="unknown">
                          نامشخص
                        </option>
                      </select>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-6 mb-6">
                      <label for="educationRate">
                        تحصیلات
                      </label>
                      <select class="form-control select2" id="educationRate" required>
                        <option <%=(patient.educationRate==''
                                                                                                )?'selected':''%> disabled value="">انتخاب کنید
                        </option>
                        <option <%=(patient.educationRate=='Doctora'
                                                                                                )?'selected':''%> value="Doctora">
                          دکترا
                        </option>
                        <option <%=(patient.educationRate=='Arshad'
                                                                                                )?'selected':''%> value="Arshad">
                          کارشناسی ارشد
                        </option>
                        <option <%=(patient.educationRate=='Karshenasi'
                                                                                                )?'selected':''%> value="Karshenasi">
                          کارشناسی
                        </option>
                        <option <%=(patient.educationRate=='Kardani'
                                                                                                )?'selected':''%> value="Kardani">
                          کاردانی
                        </option>
                        <option <%=(patient.educationRate=='Diplom'
                                                                                                )?'selected':''%> value="Diplom">
                          دیپلم
                        </option>
                        <option <%=(patient.educationRate=='ZDiplom'
                                                                                                )?'selected':''%> value="ZDiplom">
                          سیکل
                        </option>
                        <option <%=(patient.educationRate=='Ebtedaei')?'selected':''%> value="Ebtedaei">
                          ابتدایی
                        </option>
                        <option <%=(patient.educationRate=='Bisavad'
                                                                                                )?'selected':''%> value="Bisavad">
                          بیسواد
                        </option>
                      </select>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-xl-6 mb-6">
                      <label for="jobStatus">
                        شغل
                      </label>

                      <input class="form-control" id="jobStatus" value="<%=patient.jobStatus%>" type="text" required>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-6 mb-6">
                      <label for="ecoStatus">
                        وضعیت اقتصادی
                      </label>
                      <select class="form-control select2" id="ecoStatus" type="text" required>
                        <option <%=(patient.ecoStatus==''
                                                                                                )?'selected':''%> disabled value="">انتخاب کنید
                        </option>
                        <option <%=(patient.ecoStatus=='weak'
                                                                                                )?'selected':''%> value="weak">
                          ضعیف
                        </option>
                        <option <%=(patient.ecoStatus=='average'
                                                                                                )?'selected':''%> value="average">
                          متوسط
                        </option>
                        <option <%=(patient.ecoStatus=='good'
                                                                                                )?'selected':''%> value="good">
                          خوب
                        </option>
                        <option <%=(patient.ecoStatus=='great'
                                                                                                )?'selected':''%> value="great">
                          عالی
                        </option>
                      </select>

                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                  </div>
                  <br />
                  <label>
                    اطلاعات تماس
                  </label>
                  <hr />
                  <div class="form-row">
                    <div class="col-xl-3 mb-3">
                      <label for="homePhone">
                        شماره منزل
                      </label>
                      <input class="form-control" maxlength="11" id="homePhone" value="<%=patient.phone.home%>" type="text" required>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-3 mb-3">
                      <label for="workPhone">
                        شماره محل کار
                      </label>

                      <input class="form-control" maxlength="11" id="workPhone" type="text" value="<%=patient.phone.work%>">
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-3 mb-3">
                      <label for="cellPhone">
                        شماره همراه
                      </label>

                      <input class="form-control" id="cellPhone" value="<%=patient.phone.cellphone%>" maxlength="11" type="text" required>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-3 mb-3">
                      <label for="faxPhone">
                        فکس
                      </label>
                      <input class="form-control" value="<%=patient.phone.fax%>" maxlength="11" id="faxPhone" type="text">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-xl-4 mb-4">
                      <label for="cellularPhone">
                        شماره همراه نزدیکان
                      </label>
                      <input class="form-control" id="cellularPhone" value="<%=patient.phone.cellular%>" maxlength="11" type="text" required>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                      <label for="healthCarePrxyPhone">
                        شماره تماس پراکسی
                      </label>
                      <input class="form-control" maxlength="11" id="healthCarePrxyPhone" type="text" value="<%=patient.phone.healthCarePrxy%>">
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                      <label for="emergancyPhone">
                        شماره تماس اورژانسی
                      </label>
                      <input class="form-control" maxlength="11" id="emergancyPhone" type="text" value="<%=patient.phone.emergancy%>" required>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                  </div>
                  <br />
                  <label>
                    اطلاعات آدرس
                  </label>
                  <hr />
                  <div class="form-row">
                    <div class="col-xl-3 mb-3">
                      <label for="country">
                        کشور
                      </label>
                      <input class="form-control" id="country" value="<%=patient.address.country%>" type="text" required>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-6 mb-6">
                      <label for="province">
                        استان
                      </label>
                      <input class="form-control" id="province" value="<%=patient.address.province%>" type="text" required>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                    <div class="col-xl-3 mb-3">
                      <label for="city">
                        شهر
                      </label>
                      <input class="form-control" id="city" value="<%=patient.address.city%>" type="text" required>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی است!
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-xl-6 mb-6">
                      <label for="village">
                        روستا
                      </label>
                      <input class="form-control" id="village" value="<%=patient.address.village%>" type="text">
                    </div>
                    <div class="col-xl-6 mb-6">
                      <label for="postCode">
                        کد پستی
                      </label>
                      <input class="form-control" id="postCode" value="<%=patient.address.postCode%>" type="text" maxlength="10" required>
                      <div class="invalid-feedback">
                        پر کردن این فیلد الزامی
                        است!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row" id="employerCard" style="display: none; text-align:center">
                  <div class="col-xl-12 mb-12">
                    <label>
                      ✔
                      اطلاعات دیگری برای این سطح از
                      کاربری تعریف نشده است

                  </div>
                </div>
              </form>
            </div>

          </div>
          <div id="step-12" class="">
            <div style="text-align:center;padding:30px">
              <div class="col-xl-12 mb-12">
                <label>
                  برای ثبت نهایی اطلاعات روی گزینه تایید و
                  ثبت اطلاعات کلیک کنید
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!--row closed-->
  </div>
  <!-- CONTAINER CLOSED -->
  </div>
  </div>
  <!--=============================================== APP-CONTENT CLOSE ==================================-->




  </div>

  <!-- FOOTER -->
  <footer class="footer">

  </footer>
  <!-- FOOTER END -->

  </div>

  <!-- BACK-TO-TOP -->
  <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JQUERY JS -->
  <script src="/assets/js/jquery.min.js"></script>

  <!-- BOOTSTRAP JS -->
  <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- INPUT MASK JS-->
  <script src="/assets/plugins/input-mask/jquery.mask.min.js"></script>

  <!-- SIDE-MENU JS-->
  <script src="/assets/plugins/sidemenu/sidemenu.js"></script>

  <!-- TypeHead js -->
  <!--             <script src="/assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
    <script src="/assets/js/typehead.js"></script> -->

  <!-- SIDEBAR JS -->
  <script src="/assets/plugins/sidebar/sidebar.js"></script>
  <!-- FORM WIZARD JS-->
  <script src="/assets/plugins/formwizard/jquery.smartWizard.js"></script>

  <!-- Perfect SCROLLBAR JS-->
  <script src="/assets/plugins/p-scroll/perfect-scrollbar.js"></script>
  <script src="/assets/plugins/p-scroll/pscroll.js"></script>
  <script src="/assets/plugins/p-scroll/pscroll-1.js"></script>

  <!-- SELECT2 JS -->
  <script src="/assets/plugins/select2/select2.full.min.js"></script>

  <!-- FORMVALIDATION JS -->
  <script src="/assets/js/form-validation.js"></script>

  <!-- Color Theme js -->
  <script src="/assets/js/themeColors.js"></script>
  <!-- SWEET-ALERT JS -->
  <script src="/assets/plugins/sweet-alert/sweetalert.min.js"></script>
  <!-- Sticky js -->
  <script src="/assets/js/sticky.js"></script>
  <script src="/assets/plugins/persian_dpicker/js/persianDatepicker.min.js"></script>
  <!-- CUSTOM JS -->
  <script src="/assets/js/custom.js"></script>

  <script src="/assets/js/custom1.js"></script>

  <!-- Switcher js -->
  <script src="/assets/switcher/js/switcher.js"></script>
  <script src="/js/jalali-moment.browser.js"></script>
  <script src="/js/helpers.js"></script>
  <script>
    let siteUrl = `<%=process.env.SITEURL%>`;
  </script>
  <script src="/js/validate.js"></script>

  <script>
    $(document).ready(function() {
      let isPatient = `<%=isPatient%>`;
      let isEm = `<%=user.isEmployer.is%>`
      let isAdmin = `<%=(user.accessibility.userLevel=='Administrator')?'true':'false'%>`
      if (isEm == 'true') {
        if (isAdmin == 'true') {
          $('#accessabilityLabel').hide();
          $('#healthCenters').hide();
          $('#accessabilityForm').hide();
        } else {
          $('#accessabilityLabel').show();
          $('#healthCenters').show();
          $('#accessabilityForm').show();
        }
      } else {
        if (`<%=patient.birthday%>` != '') {
          $('#birthDay').val(moment(`<%=patient.birthday%>`).locale('fa').format('YYYY/MM/DD'))
        }
        $('#accessabilityLabel').hide();
        $('#healthCenters').hide();
        $('#accessabilityForm').hide();
      }
      console.log(isPatient)
      if (isPatient == 'true') {
        $('#patientCard').show();
        $('#employerCard').hide();
      } else {
        if ($('#userLevel').val() == 'Patient') {
          $('#patientCard').show();
          $('#employerCard').hide();
        } else {
          $('#patientCard').hide();
          $('#employerCard').show();
        }
      }


      // BirthDay DatePicker ===================
      const date = new Date();
      date.setFullYear(date.getFullYear() - 5);
      $("#birthDay").persianDatepicker({
        formatDate: "YYYY-0M-0D",
        startDate: '1300/01/01',
        endDate: moment(date).locale('fa').format('YYYY/MM/DD'),
      });

      //========================Form Wizard========================================
      var nextBtn = $('<button></button>').text('ادامه')
        .addClass('btn btn-primary nextFormBtn')
        .on('click', function(e) {
          if ($('.nav-item.active a').attr('id') == 'completeNav') {
            if ($('#employerCard').css('display') != 'none') {
              $('#patientDetails').addClass('was-validated');
              $('#smartwizard-3').smartWizard("next");
            } else {
              let formElm = document.getElementById('patientDetails').checkValidity();
              if (formElm == false) {
                $("#patientDetails").trigger("submit");
                return;
              }
              $('#patientDetails').addClass('was-validated');
              $('#smartwizard-3').smartWizard("next");
            }
          }
          if ($('.nav-item.active a').attr('id') == 'userNav') {

            let formElm = document.getElementById('userCreation').checkValidity();
            if (formElm == false) {
              $("#userCreation").trigger("submit");
              return;
            }
            $('#userCreation').addClass('was-validated');
            $('#smartwizard-3').smartWizard("next");
          }
        });
      $("#smartwizard-3").on("showStep", (e, anchorObject, stepIndex, stepDirection, stepPosition) => {
        //console.log(e, anchorObject, stepIndex, stepDirection, stepPosition)
        if (stepIndex == 2) {
          $('.nextFormBtn').hide();
          $('.createUser').show();

        } else {
          $('.nextFormBtn').show();
          $('.createUser').hide();
        }
      });
      var btnCancel = $('<button></button>').text('تایید و ثبت اطلاعات')
        .addClass('btn btn-secondary createUser')
        .on('click', function() {
          $('#smartwizard-3').smartWizard("next");
        });
      $('#smartwizard-3').smartWizard({
        selected: 0,
        theme: 'dots',
        transitionEffect: 'fade',
        showStepURLhash: false,
        toolbarSettings: {
          toolbarExtraButtons: [nextBtn, btnCancel],
          showNextButton: false, // show/hide a Next button
          showPreviousButton: true,
        }
      });

      $('#userLevel').on('change', (e) => {
        switch ($(e.target).val()) {
          case 'Administrator':
            $('#accessabilityLabel').hide();
            $('#accessabilityForm').hide();
            $('#healthCenters').hide();
            $('#patientCard').hide();
            $('#employerCard').show();
            $('#healthCenter').prop('required', false);
            break;
          case 'Patient':
            $('#accessabilityLabel').hide();
            $('#accessabilityForm').hide();
            $('#healthCenter').prop('required', false);
            $('#healthCenters').hide();
            $('#patientCard').show();
            $('#employerCard').hide();
            break;
          case 'Expert':
            $('#accessabilityLabel').show();
            $('#accessabilityForm').show();
            $('#healthCenter').prop('required', true);
            $('#patientCard').hide();
            $('#employerCard').show();
            $('#healthCenters').show();
            break;
          case 'HealthCare':
            $('#accessabilityLabel').show();
            $('#accessabilityForm').show();
            $('#healthCenter').prop('required', true);
            $('#patientCard').hide();
            $('#healthCenters').show();
            $('#employerCard').show();
            break;

        }
      });

      $('#userCreation').on('submit', (e) => {
        if (e.target.checkValidity() === false) {
          e.preventDefault();
          e.stopPropagation();
        }
        e.target.classList.add('was-validated');
        e.preventDefault();
      })
      $('#patientDetails').on('submit', (e) => {
        if (e.target.checkValidity() === false) {
          e.preventDefault();
          e.stopPropagation();
        }
        e.target.classList.add('was-validated');
        e.preventDefault();
      })

      $('.createUser').on('click', (e) => {
        e.preventDefault();

        let isEmployer = {
          is: false,
          healthCenter: ''
        };
        let accessibility = {
          controllCode: '0000',
          userLevel: 'Patient',
          accessSections: {
            ptnRegister: false,
            ptnSearch: false,
            ptnSideEffect: false,
            deleteSideEffect: false,
            editSideEffect: false,
            deletePatient: false,
            getReport: false,
          }

        }
        if (($('#userLevel').val() == 'Administrator')) {
          isEmployer.is = true;
          isEmployer.HealthCenter = 'Administrator';
        } else if (
          ($('#userLevel').val() == 'Expert') ||
          ($('#userLevel').val() == 'HealthCare')) {
          isEmployer.is = true;
          isEmployer.HealthCenter = $('#healthCenter').val().trim();
        } else {
          isEmployer.is = false;
          isEmployer.HealthCenter = '';
        }

        if ($('#userLevel').val() == 'Administrator') {
          accessibility = {
            userLevel: 'Administrator',
            accessSections: {
              ptnRegister: true,
              ptnSearch: true,
              ptnSideEffect: true,
              deleteSideEffect: true,
              editSideEffect: true,
              deletePatient: true,
              getReport: true,
            }
          }
        }
        if (($('#userLevel').val() == 'Expert') ||
          ($('#userLevel').val() == 'HealthCare')) {
          accessibility.userLevel = $('#userLevel').val();
          accessibility.accessSections.ptnRegister = $("#ptnRegister").is(':checked');
          accessibility.accessSections.ptnSearch = $("#ptnSearch").is(':checked');
          accessibility.accessSections.ptnSideEffect = $("#ptnSideEffect").is(':checked');
          accessibility.accessSections.deleteSideEffect = $("#deleteSideEffect").is(':checked');
          accessibility.accessSections.editSideEffect = $("#editSideEffect").is(':checked');
          accessibility.accessSections.deletePatient = $("#deletePatient").is(':checked');
          accessibility.accessSections.getReport = $("#getReport").is(':checked');
        }
        let userData = {
          _id: `<%=user._id%>`,
          fname: $('#fname').val(),
          lname: $('#lname').val(),
          nationalCode: $('#nationalCode').val(),
          email: $('#email').val(),
          username: $('#username').val(),
          password: $('#password').val(),
          isEmployer: isEmployer,
          accessibility: accessibility
        }
        let patientData = {}
        if (userData.isEmployer.is == false && accessibility.userLevel == 'Patient') {
          patientData = {
            birthday: $('#birthDay').val(),
            gender: $('#gender').val(),
            educationRate: $('#educationRate').val(),
            jobStatus: $('#jobStatus').val(),
            ecoStatus: $('#ecoStatus').val(),
            phone: {
              home: $('#homePhone').val(),
              work: $('#workPhone').val(),
              cellphone: $('#cellPhone').val(),
              fax: $('#faxPhone').val(),
              cellular: $('#cellularPhone').val(),
              healthCarePrxy: $('#healthCarePrxyPhone').val(),
              emergancy: $('#emergancyPhone').val(),
            },
            address: {
              country: $('#country').val(),
              province: $('#province').val(),
              city: $('#city').val(),
              village: $('#village').val(),
              postCode: $('#postCode').val(),
            }
          }
        }
        let data = {
          userData,
          patientData
        };
        data = JSON.stringify(data);
        $.ajax({
          url: `<%=process.env.SITEURL%>/panel/user/editUser`,
          type: 'post',
          dataType: 'json',
          contentType: 'application/json',
          data: data,
          success: (res) => {
            console.log(res)
            if (res.statusCode === 200) {
              // Message

              if (isPatient == 'true') {
                swal({
                  title: "بیمار با موفقیت ثبت شد",
                  text: "در حال انتقال به صفحه بیماران ... ",
                  confirmButtonText: "تایید",
                  type: "success"
                });
                setTimeout(function() {
                  window.location.href = `<%=process.env.SITEURL%>/panel/patients`;
                }, 500);
              } else {
                swal({
                  title: "کاربر با موفقیت ذخیره شد",
                  text: "در حال انتقال به صفحه کابران... ",
                  confirmButtonText: "تایید",
                  type: "success"
                });
                setTimeout(function() {
                  window.location.href = `<%=process.env.SITEURL%>/panel/users`;
                }, 500);
              }

            }
          },
          error: function(err) {
            console.log(err)
          }
        });

      });

    })
  </script>

</body>


</html>