<link rel="stylesheet" href="<%=process.env.SITEURL%>/css/report.css"/>
<style>
    th{
        writing-mode: tb-rl;
    }
 </style>
<%
let faEducationRate = {
    Doctora: 'دکترا',
    Arshad: 'کارشناسی ارشد',
    Karshenasi: 'کارشناسی',
    Kardani: 'کاردانی',
    Diplom: 'دیپلم',
    ZDiplom: 'سیکل',
    Ebtedaei: 'ابتدایی',
    Bisavad: 'بیسواد',
}
let ecoStatus = {
    weak: 'ضعیف',
    average: 'متوسط',
    good: 'خوب',
    great: 'عالی'
}
let gender = {
    man: 'مرد',
    female: 'زن',
    bigender: 'دوجنسیتی',
    unknown: 'نامشخص'
}
let typeSideEffects = {
   cTS_1:'تب',     
   cTS_2:'بی اشتهایی',     
   cTS_3:'استفراغ',     
   cTS_4:'تهوع',     
   cTS_5:'کهیر',     
   cTS_6:'سردرد',     
   cTS_7:'اسهال',     
   cTS_8:'درد و کوفتگی بدن',     
   cTS_9:'سرفه',     
   cTS_10:'تنگی نفس',     
   cTS_11:'درد مفاصل',     
   cTS_12:'عوارض موضعی',     
   cTS_13:' آبسه محل تزریق',     
   cTS_14:'خس خس سینه',     
   cTS_15:'تورم مفاصل',     
   cTS_16:'کاهش سطح هوشیاری',     
   cTS_17:'تشنج',     
   cTS_18:'فوت',     
}
%>

<div>
    <table>
        <tr>
            <th>ردیف</th>
            <th>نام بیمار</th>
            <th>کد ملی</th>
            <th>سن</th>
            <th>جنسیت</th>
            <th>شماره همراه</th>
            <th>شهر</th>
            <th>سیگاری</th>
            <th>بارداری</th>
            <th>عادت ماهیانه</th>
            <th>نام واکسن</th>
            <th>نوبت واکسن</th>
            <th>تزریق واکسن</th>
            <th>وقوع عارضه</th>
            <th>نوع عارضه</th>
        </tr>

        <% if(patients){patients.forEach((patient,key)=>{
            patient.list.forEach((e_crf)=>{
                let typeSideEffect = '';
                _ts = [];
                e_crf.typeSideEffect.typeSideEffectChecks.map((e)=>{
                    _ts.push(typeSideEffects[e]);
                })
                typeSideEffect = _ts.join(', ') + ' ' + e_crf.typeSideEffect.otherTypeSideEffect;
            %>
        <tr>
            <td><%=key+1%></td>
            <td><%=patient.user.fname + ' ' + patient.user.lname%></td>
            <td><%=patient.user.nationalCode%></td>
            <td><%=e_crf.age//mToJalali(patient.birthday)%></td>
            <td><%=gender[patient.gender]%></td>
            <td><%=patient.phone.cellphone%></td>
            <td><%=patient.user.city.name%></td>
            <td><%=(e_crf.smoking)?'بله':'خیر'%></td>
            <td><%=(patient.gender == 'female')?((e_crf.pregnancyStatus)?'بله':'خیر'):'-'%></td>
            <td><%=(patient.gender == 'female')?((e_crf.brestFeedingStatus)?'بله':'خیر'):'-'%></td>
            <td><%=e_crf.vaccineName%></td>
            <td><%=e_crf.vaccineDose%></td>
            <td><%=mToJalali(e_crf.injectVaccineDate)%></td>
            <td><%=mToJalali(e_crf.sideEffectDate)%></td>
            <td><%=typeSideEffect%></td>
        </tr>
        <%}) }) }%>

    </table>
</div>