<!doctype html>
<html lang="fa-IR" dir="rtl">

<%- include("../layout/head",{title:'پنل سامانه سلامت'}) %>
<link rel="stylesheet" href="/assets/plugins/persian_dpicker/css/persianDatepicker-default.css">

<body class="app sidebar-mini rtl light-mode">
  <%- include('../layout/switcher') %>
  <!-- GLOBAL-LOADER -->
  <div id="global-loader">
    <img src="/assets/images/loader.svg" class="loader-img" alt="Loader">
  </div>
  <!-- /GLOBAL-LOADER -->

  <!-- PAGE -->
  <div class="page">
    <div class="page-main">

      <!-- app-Header -->
      <%- include('../layout/header',{login}) %>
      <!-- /app-Header -->
      <%- include('../layout/sidebar') %>

      <!----=====================================APP-CONTENT OPEN =========================================-->
      <div class="main-content app-content mt-0">
        <div class="side-app">

          <!-- CONTAINER -->
          <div class="main-container container-fluid">

            <br />
            <!--Row open-->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header ">
                    <h3 class="card-title">افزودن کاربر جدید</h3>
                  </div>
                  <div class="card-body">
                    <form class="needs-validation" id="userCreation" novalidate>
                      <div class="form-row">
                        <div class="col-xl-6 mb-3">
                          <label for="fname">نام</label>
                          <input type="text" class="form-control" id="fname" value="<%=user.fname%>" required>
                          <!--<div class="valid-feedback"></div> -->
                          <div class="invalid-feedback">
                            پر کردن این فیلد الزامی است!
                          </div>
                        </div>
                        <div class="col-xl-6 mb-3">
                          <label for="lname">نام
                            خانوادگی</label>
                          <input type="text" class="form-control" id="lname" value="<%=user.lname%>" required>
                          <div class="invalid-feedback">
                            پر کردن این فیلد الزامی است!
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-xl-6 mb-3">
                          <label for="email">ایمیل</label>
                          <input type="email" class="form-control" id="email" value="<%=user.email%>" placeholder="اختیاری">
                        </div>
                        <div class="col-xl-6 mb-6">
                          <label for="nationalCode">کد
                            ملی</label>
                          <input type="text" class="form-control" id="nationalCode" value="<%=user.nationalCode%>" minlength="10" maxlength="10" required>
                          <div class="invalid-feedback">
                            لطفا یک مقدار معتبر وارد کنید!
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-xl-5 mb-3">
                          <label for="password">رمز
                            عبور</label>
                          <input type="password" class="form-control" id="password" value="">
                          <div class="invalid-feedback">
                            پر کردن این فیلد الزامی است!
                          </div>
                        </div>
                        <div class="col-xl-2 mb-3" style="padding-top: 28px;">
                          <button class="btn btn-primary" id="updatePassword" userId="<%=user._id%>">
                            <span class="spinner-grow spinner-grow-sm visually-hidden" role="status"
                            aria-hidden="true"></span>
                            تغییر گذرواژه 
                          </button>
                        </div>
                        <div class="col-xl-5 mb-6">
                          <label for="userLevelLabel">سطح کاربر</label>
                          <select class="form-control select2" id="userLevelLabel" required>
                            <option value="ادمین" <%=user.userLevelLabel=='ادمین'?'selected':''%>>ادمین</option>
                            <option value="مدیر" <%=user.userLevelLabel=='مدیر'?'selected':''%>>مدیر</option>
                            <option value="کارشناس ستادی" <%=user.userLevelLabel=='کارشناس ستادی'?'selected':''%>>کارشناس ستادی
                            </option>
                            <option value="کارشناس محیطی" <%=user.userLevelLabel=='کارشناس محیطی'?'selected':''%>>کارشناس محیطی</option>
                            <option value="مراقب سلامت" <%=user.userLevelLabel=='مراقب سلامت'?'selected':''%>>مراقب
                              سلامت</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-xl-6 mb-6">
                          <label for="mobileNumber">شماره همراه
                            </label>
                          <input type="text" class="form-control" id="mobileNumber" minlength="10" maxlength="10" value="<%=user.mobileNumber%>" required>
                          <div class="invalid-feedback">
                            لطفا یک مقدار معتبر وارد کنید!
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="form-row mb-5">
                        <div class="col-md-12">
                        <label id="accessabilityLabel mb-3">سطح دسترسی</label>
                        <div class="form-row" id="accessabilityForm"
                            style="border: 2px solid #71aac5;padding: 20px;border-radius: 10px;">
                             <div class="col-xl-2 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                         value="" id="ptnRegister" <%=user.accessibility.ptnRegister?'checked':''%>>
                                    <label class="form-check-label"
                                        for="ptnRegister">
                                        ثبت نام بیمار
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-2 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input"
                                        type="checkbox" value=""
                                        id="ptnSearch" <%=user.accessibility.ptnSearch?'checked':''%>>
                                    <label class="form-check-label"
                                        for="ptnSearch">
                                        جستجوی بیمار
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-2 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" <%=user.accessibility.ptnSideEffect?'checked':''%>
                                        type="checkbox" value=""
                                        id="ptnSideEffect">
                                    <label class="form-check-label"
                                        for="ptnSideEffect">
                                        ثبت عوارض بیمار
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-2 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" <%=user.accessibility.deleteSideEffect?'checked':''%>
                                        type="checkbox" value=""
                                        id="deleteSideEffect">
                                    <label class="form-check-label"
                                        for="deleteSideEffect">
                                        حذف عوارض بیمار
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-2 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" <%=user.accessibility.deletePatient?'checked':''%>
                                        type="checkbox" value=""
                                        id="deletePatient">
                                    <label class="form-check-label"
                                        for="deletePatient">
                                        حذف بیمار
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-3 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" <%=user.accessibility.editSideEffect?'checked':''%>
                                        type="checkbox" value=""
                                        id="editSideEffect">
                                    <label class="form-check-label"
                                        for="editSideEffect">
                                        ویرایش عوارض بیمار
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-2 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" <%=user.accessibility.getReport?'checked':''%>
                                        type="checkbox" value=""
                                        id="getReport">
                                    <label class="form-check-label"
                                        for="getReport">
                                        گزارش گیری
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-3 mb-2">
                              <div class="form-check">
                                  <input class="form-check-input" <%=user.accessibility.editHistory?'checked':''%>
                                      type="checkbox" value=""
                                      id="editHistory">
                                  <label class="form-check-label"
                                      for="editHistory">
                                      ویرایش تاریخچه بیمار
                                  </label>
                              </div>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="form-row accessAddr">
                        <div class="col-md-3 accProvince">
                          <div class="mb-3">
                            <label for="province" class="col-form-label">استان:</label>
                            <select class="form-control select2" id="province_id" data-placeholder="انتخاب استان">
                              <% if(provinces){ provinces.forEach((province)=>{
                                  %>
                              <option value="<%=province._id%>" <%=province._id==user.province?'selected':''%>>
                                <%=province.name%>
                              </option>
                              <% })} %>
                            </select>
                            <div class="invalid-feedback">
                              پر کردن این فیلد الزامی
                              است!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 accCity">
                          <div class="mb-3">
                            <label for="city" class="col-form-label">شهر:</label>
                            <select class="form-control select2" id="city_id" disabled data-placeholder="انتخاب شهر">
                              <% if(cities){ cities.forEach((city)=>{
                                  %>
                              <option value="<%=city._id%>" <%=access.city?'selected':''%>>
                                <%=city.name%>
                              </option>
                              <% })} %>
                            </select>
                            <div class="invalid-feedback">
                              پر کردن این فیلد الزامی
                              است!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 accHcenter">
                          <div class="mb-3">
                            <label for="province" class="col-form-label">نام مرکز:</label>
                            <select class="form-control select2" id="hcenter_id" disabled data-placeholder="">
                              <% if(hcenters){ hcenters.forEach((hcenter)=>{
                                  %>
                              <option value="<%=hcenter._id%>" <%=access.hcenter?'selected':''%>>
                                <%=hcenter.name%>
                              </option>
                              <% })} %>
                            </select>
                            <div class="invalid-feedback">
                              پر کردن این فیلد الزامی
                              است!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 accVillage">
                          <div class="mb-3">
                            <label for="province" class="col-form-label">نام روستا:</label>
                            <select class="form-control select2" id="village_id" disabled data-placeholder="">
                              <% if(villages){ villages.forEach((village)=>{
                                  %>
                              <option value="<%=village._id%>" <%=access.village?'selected':''%>>
                                <%=village.name%>
                              </option>
                              <% })} %>
                            </select>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <div class="form-row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary w-25" id="updateUser">
                                <span class="spinner-grow spinner-grow-sm visually-hidden" role="status"
                                aria-hidden="true"></span>
                                ثبت کاربر
                            </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--row closed-->
        </div>
        <!-- CONTAINER CLOSED -->
      </div>
    </div>
    <!--=============================================== APP-CONTENT CLOSE ==================================-->




  </div>

  <!-- FOOTER -->
  <footer class="footer">

  </footer>
  <!-- FOOTER END -->

  </div>

  <!-- BACK-TO-TOP -->
  <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JQUERY JS -->
  <script src="/assets/js/jquery.min.js"></script>

  <!-- BOOTSTRAP JS -->
  <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- INPUT MASK JS-->
  <script src="/assets/plugins/input-mask/jquery.mask.min.js"></script>

  <!-- SIDE-MENU JS-->
  <script src="/assets/plugins/sidemenu/sidemenu.js"></script>

  <!-- TypeHead js -->
  <!--             <script src="/assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
    <script src="/assets/js/typehead.js"></script> -->

  <!-- SIDEBAR JS -->
  <script src="/assets/plugins/sidebar/sidebar.js"></script>
  <!-- FORM WIZARD JS-->
  <script src="/assets/plugins/formwizard/jquery.smartWizard.js"></script>

  <!-- Perfect SCROLLBAR JS-->
  <script src="/assets/plugins/p-scroll/perfect-scrollbar.js"></script>
  <script src="/assets/plugins/p-scroll/pscroll.js"></script>
  <script src="/assets/plugins/p-scroll/pscroll-1.js"></script>

  <!-- SELECT2 JS -->
  <script src="/assets/plugins/select2/select2.full.min.js"></script>

  <!-- FORMVALIDATION JS -->
  <script src="/assets/js/form-validation.js"></script>

  <!-- Color Theme js -->
  <script src="/assets/js/themeColors.js"></script>
  <!-- SWEET-ALERT JS -->
  <script src="/assets/plugins/sweet-alert/sweetalert.min.js"></script>
  <!-- Sticky js -->
  <script src="/assets/js/sticky.js"></script>
  <script src="/assets/plugins/persian_dpicker/js/persianDatepicker.min.js"></script>
  <!-- CUSTOM JS -->
  <script src="/assets/js/custom.js"></script>

  <script src="/assets/js/custom1.js"></script>

  <!-- Switcher js -->
  <script src="/assets/switcher/js/switcher.js"></script>
  <script src="/js/helpers.js"></script>
  <script>
    let siteUrl = `<%=process.env.SITEURL%>`;
  </script>
  <script src="/js/jalali-moment.browser.js"></script>
  <script src="/js/validate.js"></script>

  <script src="/js/axios/axios.min.js"></script>
  <script src="/js/axios/axiosConfig.js"></script>
  <script src="/js/toast/toastify.js"></script>
  <script src="/js/toast/toast.js"></script>
  <script src="/js/services/userService.js"></script>
  <script>
    $(document).ready(function() {
      $(".select2").select2();
      let _userLevelLabel =  $('#userLevelLabel').val();
      if(_userLevelLabel=='ادمین'){
          $('.accessAddr').css('visibility','hidden');
        }else if(_userLevelLabel=='مدیر'){
          $('.accessAddr').css('visibility','unset');
          $('.accProvince').css('visibility','unset');
          $('.accCity').css('visibility','hidden');
          $('.accHcenter').css('visibility','hidden');
          $('.accVillage').css('visibility','hidden');
        }else if(_userLevelLabel=='کارشناس ستادی'){
          $('.accessAddr').css('visibility','unset');
          $('.accProvince').css('visibility','unset');
          $('.accCity').css('visibility','unset');
          $('.accHcenter').css('visibility','hidden');
          $('.accVillage').css('visibility','hidden');
        }else if(_userLevelLabel=='کارشناس محیطی'){
          $('.accessAddr').css('visibility','unset');
          $('.accProvince').css('visibility','unset');
          $('.accCity').css('visibility','unset');
          $('.accHcenter').css('visibility','unset');
          $('.accVillage').css('visibility','hidden');
        }else if(_userLevelLabel=='مراقب سلامت'){
          $('.accessAddr').css('visibility','unset');
          $('.accProvince').css('visibility','unset');
          $('.accCity').css('visibility','unset');
          $('.accHcenter').css('visibility','unset');
          $('.accVillage').css('visibility','unset');
        }
      $('#userLevelLabel').on('change',function(){
        if($(this).val()=='ادمین'){
          $('.accessAddr').css('visibility','hidden');
        }else if($(this).val()=='مدیر'){
          $('.accessAddr').css('visibility','unset');
          $('.accProvince').css('visibility','unset');
          $('.accCity').css('visibility','hidden');
          $('.accHcenter').css('visibility','hidden');
          $('.accVillage').css('visibility','hidden');
        }else if($(this).val()=='کارشناس ستادی'){
          $('.accessAddr').css('visibility','unset');
          $('.accProvince').css('visibility','unset');
          $('.accCity').css('visibility','unset');
          $('.accHcenter').css('visibility','hidden');
          $('.accVillage').css('visibility','hidden');
        }else if($(this).val()=='کارشناس محیطی'){
          $('.accessAddr').css('visibility','unset');
          $('.accProvince').css('visibility','unset');
          $('.accCity').css('visibility','unset');
          $('.accHcenter').css('visibility','unset');
          $('.accVillage').css('visibility','hidden');
        }else if($(this).val()=='مراقب سلامت'){
          $('.accessAddr').css('visibility','unset');
          $('.accProvince').css('visibility','unset');
          $('.accCity').css('visibility','unset');
          $('.accHcenter').css('visibility','unset');
          $('.accVillage').css('visibility','unset');
        }
      })
      $("#province_id").on("change", function() {
        let id = $(this).val();
        if (id != "null") {
          $("#city_id").empty();
          $("#hcenter_id").empty();
          $("#village_id").empty();
          getCities(id);
        } else {
          $("#city_id option").remove();
          $("#city_id").prop("disabled", true);
        }
      });
      $("#city_id").on("change", function() {
        let id = $(this).val();
        if (id != "null") {
          getHCenters(id);
        } else {
          $("#hcenter_id option").remove();
          $("#hcenter_id").prop("disabled", true);
        }
      });
      $("#hcenter_id").on("change", function() {
        let id = $(this).val();
        if (id != "null") {
          getVillages(id);
        } else {
          $("#village_id option").remove();
          $("#village_id").prop("disabled", true);
        }
      });


      //========================Form Wizard========================================

      $('#updatePassword').on('click', (e) => {
        e.preventDefault();
        updatePassword({
          _id:$(e.target).attr('userId'),
          password:$('#password').val(),
        });
      });  
      $('#updateUser').on('click', (e) => {
        
        if ($('#userCreation')[0].checkValidity() === false) {
          e.preventDefault();
          e.stopPropagation();
          $('#userCreation').addClass('was-validated');
          return false;
        }
        let userData = {
          _id:$('#updatePassword').attr('userId'),
          fname: $('#fname').val(),
          lname: $('#lname').val(), 
          nationalCode: $('#nationalCode').val(),
          mobileNumber: $('#mobileNumber').val(),
          email: $('#email').val(),
          isAdmin: false,
          isPatient: false,
          province: $('#province_id').val(),
          city: $('#city_id').val(),
          hcenter: $('#hcenter_id').val(),
          village: $('#village_id').val(),
          userLevelLabel: $('#userLevelLabel').val(),
          accessibility:{
            ptnRegister: $("#ptnRegister").is(':checked'),
            ptnSearch: $("#ptnSearch").is(':checked'),
            ptnSideEffect: $("#ptnSideEffect").is(':checked'),
            deleteSideEffect: $("#deleteSideEffect").is(':checked'),
            editSideEffect: $("#editSideEffect").is(':checked'),
            deletePatient: $("#deletePatient").is(':checked'),
            getReport: $("#getReport").is(':checked'),
            editHistory: $("#editHistory").is(':checked'),
          }
        }

        updateUser(userData);

      })
    })
  </script>

</body>


</html>