<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <%- include("../layout/head",{title:'پنل سامانه سلامت'}) %>
  <style>
    body.dark-mode
      .page-wrapper
      .page-body-wrapper
      .page-body
      .card:not(.email-body)
      .dataTables_wrapper
      table.dataTable
      thead
      th {
      border-bottom: 2px #2a2a4a !important;
    }
    body.dark-mode tr.odd {
      background-color: #2a2a4a !important;
    }
    body.dark-mode tr.even {
      background-color: #26263e !important;
    }
    body.dark-mode table.dataTable.display tbody tr.even > .sorting_1,
    body.dark-mode
      table.dataTable.order-column.stripe
      tbody
      tr.even
      > .sorting_1 {
      background-color: #26263e !important;
    }
    body.dark-mode table.dataTable.display tbody tr.odd > .sorting_1,
    body.dark-mode
      table.dataTable.order-column.stripe
      tbody
      tr.odd
      > .sorting_1 {
      background-color: #2a2a4a !important;
    }
    body.dark-mode .dataTables_wrapper * {
      color: gainsboro;
    }
    .dataTables_wrapper .dataTables_length {
      float: right;
    }
    div.dataTables_wrapper div.dataTables_filter {
      text-align: right;
      float: left;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      padding: 0 !important;
    }
    .dataTables_info {
      float: right !important;
    }
    .dataTables_paginate.paging_simple_numbers {
      float: left !important;
    }
    table tr td:last-child{
      text-align: center !important;
    }
  </style>
  <body class="app sidebar-mini rtl light-mode">
    <%- include('../layout/switcher') %>
    <!-- GLOBAL-LOADER -->
    <!--     <div id="global-loader">
      <img src="/assets/images/loader.svg" class="loader-img" alt="Loader" />
    </div> -->
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
      <div class="page-main">
        <!-- app-Header -->
        <%- include('../layout/header',{login}) %>
        <!-- /app-Header -->
        <%- include('../layout/sidebar') %>

        <!--==========================Insert_Edit Modal=================================-->

        <div class="modal fade" id="input-modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-demo">
              <div class="modal-header">
                <h6 class="modal-title" id="_hModalTitle">ویرایش روستا</h6>
                <button
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="village" class="col-form-label">روستا:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="e_villageName"
                    />
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  class="btn ripple btn-success"
                  id="updateBtn"
                  data-action="create"
                  type="button" data-bs-dismiss="modal"
                >
                <span class="spinner-grow spinner-grow-sm visually-hidden" role="status"
                aria-hidden="true"></span>
                  ثبت تغییرات
                </button>
                <button
                  class="btn ripple btn-danger"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  بستن
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--==========================Insert_Edit Modal=================================-->

        <!--==========================Delete Modal=================================-->
        <!-- MODAL Effects -->
        <div class="modal fade" id="modaldemo8">
          <div
            class="modal-dialog modal-dialog-centered text-center"
            role="document"
          >
            <div class="modal-content modal-content-demo">
              <div class="modal-header">
                <h6 class="modal-title">حذف کاربر</h6>
                <button
                  aria-label="Close"
                  class="btn-close"
                  data-bs-dismiss="modal"
                >
                  <span aria-hidden="true ">&times;</span>
                </button>
              </div>
              <div class="modal-body">آیا با حذف این روستا موافق هستید؟</div>

              <div class="modal-footer">
                <button class="btn btn-light deleteH" data-bs-dismiss="modal">
                  <span
                    class="spinner-grow spinner-grow-sm visually-hidden"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  تایید
                </button>
                <button class="btn btn-danger" data-bs-dismiss="modal">
                  لغو
                </button>
              </div>
            </div>
          </div>
        </div>
        <style>
          #modaldemo8 .modal-header {
            background-color: rgb(169 0 0 / 94%);
            border-bottom: 1px solid rgb(126 0 0) !important;
            color: white;
          }

          #modaldemo8 .modal-body {
            background-color: rgb(159 0 0 / 94%);
            color: white;
          }

          #modaldemo8 .modal-footer {
            background-color: rgb(169 0 0 / 94%);
            border-top: 1px solid rgb(126 0 0) !important;
            color: white;
          }
        </style>
        <!--==========================Delete Modal=================================-->

        <!----=====================================APP-CONTENT OPEN =========================================-->
        <div class="main-content app-content mt-0">
          <div class="side-app">
            <!-- CONTAINER -->
            <div class="main-container container-fluid">
              <br />

              <!-- ROW OPEN -->
              <div class="row row-cards">
                <div class="col-lg-12 col-xl-12">
                  <div class="card">
                    <div class="card-header">افزودن روستا</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-9">
                          <div class="mb-3">
                            <label for="villageName" class="col-form-label"
                              >نام روستا :</label
                            >
                            <input
                              class="form-control"
                              type="text"
                              id="villageName"
                            />
                          </div>
                        </div>
                        <div class="col-md-3" style="padding-top: 36px">
                          <button class="btn btn-primary" id="regVillage">
                            ثبت روستا
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header border-bottom-0"></div>

                    <div class="e-table px-5 pb-5">
                      <div class="table-responsive table-lg">
                        <div class="sk-loader">
                          <div
                            class="skeleton skeleton-line"
                            style="
                              --c-w: 100%;
                              --c-s: 60px;
                              --l-h: 40px;
                              --t: 1.5s;
                              --g-gap: 30px;
                            "
                          ></div>
                          <div
                            class="skeleton skeleton-line"
                            style="
                              --c-w: 100%;
                              --c-s: 60px;
                              --l-h: 30px;
                              --t: 1.5s;
                              --g-gap: 30px;
                              transform: rotate(180deg);
                            "
                          ></div>
                          <div
                            class="skeleton skeleton-line"
                            style="
                              --c-w: 100%;
                              --c-s: 60px;
                              --l-h: 30px;
                              --t: 1.5s;
                              --g-gap: 30px;
                              transform: rotate(180deg);
                            "
                          ></div>
                          <div
                            class="skeleton skeleton-line"
                            style="
                              --c-w: 100%;
                              --c-s: 60px;
                              --l-h: 30px;
                              --t: 1.5s;
                              --g-gap: 30px;
                              transform: rotate(180deg);
                            "
                          ></div>
                          <div
                            class="skeleton skeleton-line"
                            style="
                              --c-w: 100%;
                              --c-s: 60px;
                              --l-h: 30px;
                              --t: 1.5s;
                              --g-gap: 30px;
                              transform: rotate(180deg);
                            "
                          ></div>
                          <div
                            class="skeleton skeleton-line"
                            style="
                              --c-w: 100%;
                              --c-s: 60px;
                              --l-h: 30px;
                              --t: 1.5s;
                              --g-gap: 30px;
                              transform: rotate(180deg);
                            "
                          ></div>
                        </div>
                        <div
                          class="dt-ext table-responsive"
                          style="visibility: hidden"
                        >
                          <table class="display" id="villagesTable">
                            <thead>
                              <tr>
                                <th>استان</th>
                                <th>شهر</th>
                                <th>مرکز</th>
                                <th>روستا</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <% if(villages){ villages.forEach((village)=>{ %>

                              <tr>
                                <td class="text-nowrap align-middle">
                                  <%=healthCenter.province.name%>
                                </td>
                                <td class="text-nowrap align-middle">
                                  <%=healthCenter.city.name%>
                                </td>
                                <td class="text-nowrap align-middle">
                                  <%=healthCenter.name%>
                                </td>
                                <td class="text-nowrap align-middle">
                                  <%=village.name%>
                                </td>

                                <td class="text-center align-middle">
                                  <div class="btn-group align-top record-v">
                                    <a
                                      class="btn btn-sm btn-primary badge modal-effect editHCenter"
                                      data-target="#input-modal"
                                      data-bs-effect="effect-rotate-bottom"
                                      data-bs-toggle="modal"
                                      href="#input-modal"
                                      data-id="<%=village._id.toString()%>"
                                      type="button"
                                      >ویرایش</a
                                    >
                                    <a
                                      class="btn btn-sm btn-danger badge modal-effect deleteModal"
                                      data-bs-effect="effect-super-scaled"
                                      data-id="<%=village._id.toString()%>"
                                      data-bs-toggle="modal"
                                      href="#modaldemo8"
                                      type="button"
                                      ><i class="fa fa-trash"></i
                                    ></a>
                                  </div>
                                </td>
                              </tr>
                              <% }); } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- COL-END -->
              </div>
              <!-- ROW CLOSED -->
            </div>
            <!-- CONTAINER CLOSED -->
          </div>
        </div>
        <!--=============================================== APP-CONTENT CLOSE ==================================-->
      </div>

      <!-- FOOTER -->
      <footer class="footer"></footer>
      <!-- FOOTER END -->
    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- SWEET-ALERT JS -->
    <%- include('../layout/script.ejs') %>

    <!-- BOOTSTRAP JS -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.buttons.min.js"></script>
    <script src="/js/datatable/datatable-extension/jszip.min.js"></script>
    <script src="/js/datatable/datatable-extension/buttons.colVis.min.js"></script>
    <script src="/js/datatable/datatable-extension/pdfmake.min.js"></script>
    <script src="/js/datatable/datatable-extension/vfs_fonts.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.autoFill.min.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.select.min.js"></script>
    <script src="/js/datatable/datatable-extension/buttons.bootstrap4.min.js"></script>
    <script src="/js/datatable/datatable-extension/buttons.html5.min.js"></script>
    <script src="/js/datatable/datatable-extension/buttons.print.min.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.bootstrap4.min.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.responsive.min.js"></script>
    <script src="/js/datatable/datatable-extension/responsive.bootstrap4.min.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.keyTable.min.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.colReorder.min.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.fixedHeader.min.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.rowReorder.min.js"></script>
    <script src="/js/datatable/datatable-extension/dataTables.scroller.min.js"></script>
    <script src="/js/datatable/datatable-extension/custom.js"></script>
    <script src="/js/services/healthService.js"></script>

    <script>
      let hcenter = "<%=healthCenter._id%>";
      $(document).ready(() => {
        $(".select2").select2();
        let elementRow;
        let villagesTable = $("#villagesTable").DataTable({
          responsive: true,
        });
        $("#regVillage").on("click", () => {
          let villageName = $("#villageName").val();
          regVillage(
            {
              hcenter,
              name: villageName,
            },
            villagesTable
          );
        });
        /*         if (alert != null && alert == "success-delete") {
          swal({
            title: "کاربر با موفقیت حذف شد",
            text: "",
            confirmButtonText: "تایید",
            type: "success",
          });
        } */
        $(".sk-loader").remove();
        $(".table-responsive").css("visibility", "unset");
        $(document).on("click", ".deleteModal", (e) => {
          $(".deleteH").attr(
            "data-id",
            $(e.target).closest("a").attr("data-id")
          );
          elementRow = $(e.target).closest("a").closest("tr");
        });
        $(".deleteH").on("click", (e) => {
          let _id = $(e.target).attr("data-id");
          deleteVillage(_id, villagesTable, elementRow);
        });
        let editElm = null;
        $("#regHCInfo").on("click", (e) => {
          let name = $("#name").val();
          let province = $("#province").val();
          let city = $("#city").val();
          let village = $("#village").val();
          if ($(e.target).attr("data-action") == "create") {
            let data = JSON.stringify({
              name,
              province,
              city,
              village,
            });
            $.ajax({
              url: `<%=process.env.SITEURL%>/panel/hcenters/create`,
              type: "post",
              dataType: "json",
              contentType: "application/json",
              data: data,
              success: (res) => {
                if (res.statusCode === 200) {
                  // Message
                  swal({
                    title: "اطلاعات روستا با موفقیت ثبت شد",
                    text: "",
                    confirmButtonText: "تایید",
                    type: "success",
                  });

                  setTimeout(function () {
                    window.location.href = `<%=process.env.SITEURL%>/panel/healthcenters`;
                  }, 500);
                }
              },
              error: function (err) {
                console.log(err);
              },
            });
          } else {
            $(e.target).attr("data-action", "create");
            let data = JSON.stringify({
              _id: $(e.target).attr("data-id"),
              hInfo: { name, province, city, village },
            });
            $.ajax({
              url: `<%=process.env.SITEURL%>/panel/hcenters/edit`,
              type: "post",
              dataType: "json",
              contentType: "application/json",
              data: data,
              success: (res) => {
                if (res.statusCode === 200) {
                  // Message
                  $(editElm.target)
                    .closest("tr")
                    .children()
                    .eq(0)
                    .text(province);
                  $(editElm.target).closest("tr").children().eq(1).text(city);
                  $(editElm.target).closest("tr").children().eq(2).text(name);
                  $(editElm.target)
                    .closest("tr")
                    .children()
                    .eq(3)
                    .text(village);

                  swal({
                    title: "اطلاعات روستا با موفقیت ثبت شد",
                    text: "",
                    confirmButtonText: "تایید",
                    type: "success",
                  });
                  $("#input-modal").modal("hide");
                }
              },
              error: function (err) {
                console.log(err);
              },
            });
          }
        });

        $(document).on("click", ".editHCenter", function(e){
          $("#updateBtn").attr(
            "data-id",
            `${$(e.target).closest('.record-v').find('.editHCenter').attr("data-id")}`
          );
          $("#e_villageName").val(
            $(e.target).closest("tr").find("td:nth-child(4)").text().trim()
          );
          editElement = $(e.target).closest("tr");
        });
        $("#updateBtn").on("click", (e) => {
          let id = $("#updateBtn").attr("data-id");
          let villageName = $("#e_villageName").val();

          let village = {
            id,
            name:villageName,
          };
          $("#updateBtn").prop("disabled", true);
          $("#updateBtn span").removeClass("visually-hidden");
          let data = editVillage(village, editElement);
        });
      });
    </script>
  </body>
</html>
